//Gera muitos problemas, não muito utilizado
.erro{
    color: red;
    font-weight: bold;
}
.erro.top{ //vai extender para o .button erro tbm, o que não é legal
    margin-bottom: 20px
}
.button-erro{
    @extend .erro;
    padding: 20px;
    border: 2px solid red;
}