p{
    span{
        background: red;
    }
    b{
        background: black;
    }
    &:hover{
        color: red;
    }
}

//para compilar todos os arquivos scss de uma vez utilize: sass --watch .
.btn{
    width: 200px;
    padding: 10px 0px;
    background: none;
    border: none;
    border-radius: 5px;
   // &.btn-laranja{
   //     background: orange;
  //  }
}
.btn-laranja{
    @extend .btn;
    background: orange;
}

//Variaveis e import