.erro, .button-erro {
  color: red;
  font-weight: bold;
}

.erro.top, .top.button-erro {
  margin-bottom: 20px;
}

.button-erro {
  padding: 20px;
  border: 2px solid red;
}

div::after, section::after {
  content: "";
  display: table;
  clear: both;
}
