/*Mixin dentro de mixin*/
h1 {
  font-size: 4em;
  line-height: 1;
  font-weight: bold;
  font-family: monospace;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/*Argumentos dentro do mixin*/
h2 {
  font-size: 4em;
  line-height: 1;
  font-weight: bold;
  font-family: monospace;
}

h2::after {
  content: "";
  display: block;
  width: 300px;
  height: 4px;
  background: red;
}

/*Argumentos*/
section {
  box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.5), 10px 27px 0 0 rgba(87, 48, 48, 0.5);
  -moz-box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.5), 10px 27px 0 0 rgba(87, 48, 48, 0.5);
  -webkit-box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.5), 10px 27px 0 0 rgba(87, 48, 48, 0.5);
}

/*@content*/
p {
  color: blue;
}

@media (max-width: 600px) {
  p {
    color: pink;
  }
}
