p {
  color: yellow;
  background: purple;
}

p {
  font-family: monospace;
  font-family: 2rem;
  font-weight: bold;
}

div {
  box-shadow: 25px 25px 25px 0 #666;
}

div {
  font-size: 1.5em;
}

@media (max-width: 600px) {
  div {
    font-size: 1.2em;
  }
}

@media (max-width: 300px) {
  div {
    font-size: 1em;
  }
}

div {
  width: 600px;
  height: 900px;
}
